<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.InoutMapper">
	<!-- 入出庫データの追加 -->
	<insert id="insert" parameterType="Item">
		INSERT INTO data_inout VALUES
		(
		NULL,
		#{itemId},
		#{inoutQuantity},
		#{outAreaId},
		#{inAreaId},
		#{inoutDatetime},
		'user',
		0,
		NOW(),
		'user',
		NOW(),
		'user'
		)
	</insert>

	<select id="getInoutList" resultType="inout">
		SELECT DISTINCT
		di.inout_id as inoutId,
		di.item_id as itemId,
		di.inout_quantity as
		inoutQuantity,
		di.out_area_id as outAreaId,
		mao.area as outArea,
		di.in_area_id as inAreaId,
		mai.area as inArea,
		di.inout_datetime as
		inoutDatetime,
		di.register_datetime
		as RegisterDatetime,
		di.inout_user_id as inoutUserId,
		mu.user_name as
		inoutUser,
		di.delete_flg as deleteFlg
		FROM
		data_inout di
		LEFT JOIN
		master_area mao
		ON
		di.out_area_id =
		mao.area_id
		LEFT JOIN master_area mai
		ON di.in_area_id =
		mai.area_id
		LEFT JOIN master_user mu
		ON
		di.inout_user_id = mu.user_id
		WHERE di.delete_flg = 0
		AND di.item_id =
		#{itemId}
		ORDER BY
		di.inout_datetime DESC

	</select>

</mapper>