<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.StockMapper">

	<!-- SQL 在庫データ -->

	<insert id="insert" parameterType="Integer">
		INSERT INTO data_stock VALUES
		(#{itemId},1,0,0,NOW(),'user',NOW(),'user'),
		(#{itemId},2,0,0,NOW(),'user',NOW(),'user'),
		(#{itemId},3,0,0,NOW(),'user',NOW(),'user'),
		(#{itemId},4,0,0,NOW(),'user',NOW(),'user'),
		(#{itemId},5,0,0,NOW(),'user',NOW(),'user'),
		(#{itemId},6,0,0,NOW(),'user',NOW(),'user'),
		(#{itemId},7,0,0,NOW(),'user',NOW(),'user')
	</insert>

	<update id="updateSubtract" parameterType="Inout">
		UPDATE data_stock
		SET
		stock_quantity = stock_quantity - #{inoutQuantity},
		update_date = NOW()
		WHERE item_id =
		#{itemId}
		and area_id =#{outAreaId}
	</update>

	<update id="updateAdd" parameterType="Inout">
		UPDATE data_stock
		SET
		stock_quantity = stock_quantity + #{inoutQuantity},
		update_date = NOW()
		WHERE item_id =
		#{itemId}
		and area_id= #{inAreaId}
	</update>

	<select id="select" parameterType="int" resultType="Stock">
		SELECT
		ma.area,
		CASE WHEN ds.area_id = 1 THEN ABS(ds.stock_quantity)
		ELSE stock_quantity END as stockQuantity
		FROM data_stock ds
		JOIN
		master_area ma
		ON ds.area_id = ma.area_id
		WHERE item_id = #{itemId}
	</select>

</mapper>