<!-- ヘッダー -->
<header class="bg-light p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-primary fw-bold">StockControl</h1>
            <div>
                <button class="btn btn-primary" type="button">ログアウト</button>
            </div>
        </div>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="item-search.html">製品検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="item-master.html">製品マスター</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="area-search.html">エリア検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user-search.html">ユーザー検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="log.html">ログ検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
                -->
            </ul>
        </nav>
    </div>
</header>

